.Page {
  width: 100%;
  height: 100%;
  position: relative;
  background: #f2f2f2;
  .PageContainer {
    width: 100%;
    height: 100%;
    position: relative;
    > .Search {
      padding: 0.1rem 0.15rem;
      > div {
        width: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 0.3rem;
        background: #fff;
        align-items: center;
        box-shadow: 0 0 0.02rem 0.02rem rgba(0, 0, 0, 0.05);
        > i {
          font-size: 0.2rem;
          color: #999;
          margin-left: 0.1rem;
        }
        > div {
          > input {
            width: 100%;
            font-size: 0.12rem;
            line-height: 0.2rem;
            padding: 0.05rem 0;
          }
        }
      }
    }
    > .Nav {
      position: relative;
      overflow: hidden;
      background: #fff;
      box-shadow: 0 0 0.02rem 0.02rem rgba(0, 0, 0, 0.05);
      z-index: 3;
      > .flex-item {
        position: relative;
        .SwiperItem {
          display: inline-block;
          width: auto;
          &:last-child {
            > a {
              margin-right: 0.15rem;
            }
          }
          > a {
            display: inline-block;
            font-size: 0.14rem;
            color: #666;
            line-height: 0.4rem;
            margin-left: 0.15rem;
            position: relative;
            &.active {
              color: #d91d36;
              &::after {
                content: "";
                display: block;
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 0;
                height: 0.02rem;
                background: #d91d36;
              }
            }
          }
        }
      }
      > a {
        font-size: 0.24rem;
        color: #666;
        width: 0.4rem;
        text-align: center;
        line-height: 0.4rem;
        box-shadow: 0 0 0.02rem 0.02rem rgba(0, 0, 0, 0.05);
      }
    }
    > .ListContainer {
      position: relative;
      overflow: hidden;
      z-index: 2;
      > div {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        overflow: hidden;
        .Container {
          > ul {
            > li {
              padding: 0.1rem 0.15rem;
              background: #fff;
              margin-top: 0.15rem;
              box-shadow: 0 0 0.02rem 0.02rem rgba(0, 0, 0, 0.05);
              position: relative;
              > a {
                font-size: 0.2rem;
                color: #999;
                margin-right: 0.1rem;
                &.active {
                  color: #d91d36;
                }
              }
              > .flex-item {
                > .Title {
                  align-items: center;
                  margin-bottom: 0.1rem;
                  > span {
                    font-size: 0.12rem;
                    color: #666;
                    line-height: 0.2rem;
                    margin-left: 0.1rem;
                    &:first-child {
                      margin-left: 0;
                      font-size: 0.16rem;
                      color: #333;
                    }
                    > em {
                      font-size: 0.12rem;
                      color: #d91d36;
                      font-weight: bold;
                    }
                  }
                }
                > span {
                  display: block;
                  font-size: 0.12rem;
                  color: #666;
                  line-height: 0.2rem;
                  margin-top: 0.03rem;
                }
                > .Res {
                  font-size: 0;
                  white-space: nowrap;
                  margin-top: 0.03rem;
                  > span {
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 0.12rem;
                    color: #666;
                    line-height: 0.2rem;
                    margin-left: 0.2rem;
                    &:first-child {
                      margin-left: 0;
                    }
                    > em {
                      font-size: 0.12rem;
                      color: #d91d36;
                      font-weight: bold;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    > .Bottom {
      background: #fff;
      align-items: center;
      box-shadow: 0 0 0.02rem 0.02rem rgba(0, 0, 0, 0.05);
      position: relative;
      z-index: 4;
      > a {
        &.iconfont {
          font-size: 0.2rem;
          margin-left: 0.15rem;
          color: #999;
          &.active {
            color: #d91d36;
          }
        }
        &:last-child {
          font-size: 0.16rem;
          color: #fff;
          background: #ccc;
          padding: 0 0.3rem;
          line-height: 0.5rem;
          margin-left: 0.1rem;
          &.active {
            background: #d91d36;
          }
        }
      }
      > span {
        font-size: 0.15rem;
        line-height: 0.5rem;
        margin-left: 0.1rem;
        color: #666;
      }
      > div {
        position: relative;
        overflow: hidden;
        > div {
          width: 100%;
          position: relative;
          overflow: hidden;
          > span {
            display: block;
            text-align: right;
            font-size: 0.15rem;
            color: #333;
            > em {
              font-size: 0.15rem;
              color: #d91d36;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
